@use "../../../../helper/style/mixin";
@use "../../../../helper/style/media";

.box {
  display: grid;
  justify-items: center;
  align-content: center;
}

.buttons {
  margin-top: 3.25rem;
}

.button {
  min-width: 15rem;
}

.title {
  margin: 0;

  font-size: 1.5rem;
  font-weight: var(--medium);
  text-align: center;

  color: rgba(var(--text), 1)
}

.title span {
  display: inline-block;
  margin-top: 2.25rem;

  font-family: "Work Sans", sans-serif;
  font-size: 3.25rem;
  font-weight: var(--semi-bold);
}

.text {
  margin: 0;
  margin-top: 0.5rem;

  font-size: 1.25rem;

  color: rgba(var(--text), 0.6);
}
