@use "../../helper/style/mixin";
@use "../../helper/style/media";

.breakline {
  @include mixin.until(media.$sm) {
    display: none;
  }
}


.features {
  margin-top: 6.25rem;
  margin-bottom: 4rem;

  @include mixin.from(media.$md) {
    margin-top: 0;
  }

  @include mixin.from(media.$md) {
    margin-bottom: 8.25rem;
  }
}
