@use "../../helper/style/mixin";
@use "../../helper/style/media";

.title {
  margin: 0;

  font-family: var(--secondary-font);
  font-size: 2.125rem;
  font-weight: var(--medium);
  text-align: center;
}

.text {
  max-width: 34rem;
  margin: 0;
  margin-top: 0.5rem;

  font-size: 1.25rem;
  text-align: center;
  color: rgba(var(--text), 0.6);
}

.extensions {
  margin-top: 3.25rem;
}
