@use "../../../../helper/style/mixin";
@use "../../../../helper/style/media";

.componentWrapper {
  @include mixin.until(media.$sm) {
    overflow: hidden;
  }
}

.title {
  grid-column: -1/1;

  margin: 0;

  @include mixin.until(media.$sm) {
    text-align: center;
  }

  @include mixin.from(media.$sm) {
    grid-column: 1/2;
  }
}

.title br {
  @include mixin.until(media.$sm) {
    display: none;
  }
}

.list {
  grid-column: -1/1;

  display: grid;
  grid-row-gap: 3.125rem;

  margin: 0;
  padding: 0;

  list-style: none;

  @include mixin.until(media.$sm) {
    margin-top: 3.5rem;
  }

  @include mixin.from(media.$sm) {
    grid-column: 2/4;

    grid-template-rows: repeat(var(--count), 12.5rem);
  }
}

.item {
  position: relative;

  &:hover::before {
    transform: rotateZ(100deg);
  }

  &:nth-child(3):hover::before {
    transform: rotate(15deg) rotateZ(100deg);
  }
}

.item::before {
  position: absolute;
  content: "";

  display: block;
  width: var(--size);
  height: var(--size);

  background-image: var(--icon);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  transition-timing-function: linear;
  transition-duration: 6s;
  transition-property: transform;
}

.item:nth-child(1)::before {
  --size: 9.625rem;
  top: -1.5rem;
  left: -2rem;

  @include mixin.until(media.$sm) {
    top: -3.5rem;
    left: -4rem;
  }
}

.item:nth-child(2)::before {
  --size: 6.625rem;
  top: -2rem;
  left: 50%;

  @include mixin.until(media.$sm) {
    left: auto;
    right: -1.75rem;
  }
}

.item:nth-child(3)::before {
  --size: 6.5rem;
  top: 2rem;
  left: -2.5rem;

  transform: rotate(15deg);
}

.wrapper {
  position: relative;

  display: grid;
  grid-row-gap: 1rem;
  align-content: center;

  width: 100%;
  height: 100%;
  padding: 1.75rem;

  box-sizing: border-box;

  border: 1px solid rgba(var(--text), 0.1);
  border-radius: 1.25rem;

  background: rgba(var(--text), 0.01);

  backdrop-filter: blur(54px);

  @include mixin.from(media.$sm) {
    padding: 0 1.75rem;
  }

  @include mixin.from(media.$md) {
    grid-row-gap: 1.375rem;

    padding: 0 3.4375rem;

    border-radius: 2.5rem;
  }
}

.caption {
  margin: 0;
}

.text {
  margin: 0;
}
