@use "../../../../helper/style/mixin";
@use "../../../../helper/style/media";

.component {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  padding-top: calc(var(--spacing-unit) * 6);
}

.form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.label {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;

  margin: 0;
 }

.max {
  display: grid;
  place-content: center;

  min-width: 4rem;
  height: 1.75rem;
  margin: 0;

  border: 1px solid rgba(var(--pink), 1);
  border-radius: 3rem;
}

.list {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-column-gap: var(--spacing-unit);
  grid-row-gap: calc(var(--spacing-unit) * 2.5);
  align-items: center;

  min-height: 3.25rem;
  margin: 0;
  margin-top: calc(var(--spacing-unit) * 3);
  padding: calc(var(--spacing-unit) * 1.5) calc(var(--spacing-unit) * 2.5);

  box-sizing: border-box;

  border-radius: 0.875rem;
  border: 1px solid rgba(var(--pink), 1);

  list-style: none;
}

.term {}

.description {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: var(--spacing-unit);
  justify-content: start;
  align-items: baseline;

  margin: 0;
}

.button {
  margin-top: auto;
}

.spinner {
  margin-right: var(--spacing-unit);
}
